body {
	background: #f8f8f8;
	margin: 0;
	* {
		box-sizing: border-box;
		margin: 0;
	}
}
#top {
	background: #fff;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 3px #ddd;
	.left {
		width: 200px;
	}
	.right {
		width: 600px;
		display: flex;
		justify-content: space-around;
		.search {
			display: flex;
			align-items: center;
		}
		.messages {
			display: flex;
			align-items: center;
			position: relative;
			#m-icon {
				width: 30px;
				height: 30px;
				background: red;
				display: block;
				cursor: pointer;
			}
			#m-inner {
				position: absolute;
				top: 50px;
				right: 0;
				background: #fff;
				padding: 30px;
				display: none;
			}
		}
		#user {
			position: relative;
			padding-left: 50px;
			cursor: pointer;
			.avatar {
				width: 40px;
				height: 40px;
				border-radius: 25px;
				background: #004a83;
				display: block;
				position: absolute;
				top: -3px;
				left: 0;
			}
			.name {
				font-size: 100%;
				line-height: 130%;
			}
			.type {
				color: #bbb;
				font-size: 80%;
				line-height: 110%;
			}
			#u-inner {
				position: absolute;
				top: 50px;
				right: 0;
				background: #fff;
				padding: 30px;
				display: none;
			}
		}
		.sign-in {
			display: flex;
			align-items: center;
		}
	}
}
